html, body {
  cursor: url('./assets/cursorlight.png'), auto; 
}

.loading{
    color: black;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.star-wars {
    position: relative;
    overflow: hidden;
    height: 100vh; 
    background: black; 

    .lightsaber-wrapper {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 2;
    
        @media (max-width: 768px) {
          display: none; 
        }
      }
  
    .fade {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      z-index: 1;
    }
  
    .crawl {
      position: absolute;
      top: 100%; 
      width: 100%;
      animation: crawl 60s linear forwards; 
  
      .title {
        font-size: 120%;
        text-align: center;
        color: #FFD700; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  
        h1 {
          margin: 0 0 100px;
          text-transform: uppercase;
          color: #FFD700; 
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
      }
  
      p {
        color: #ffffff; 
        font-size: 1.5rem; 
        margin-bottom: 20px; 
        text-align: center; 
      }
  
      .opening-crawl {
        margin-top: 20px; 
        color: #ffffff; 
        font-size: 1.2rem; 
        line-height: 1.5; 
      }
    }
  
    @keyframes crawl {
      0% {
        top: 100%; 
        transform: rotateX(20deg);
      }
      100% {
        top: -6000px; 
        transform: rotateX(25deg);
      }
    }
  }