html, body {
  cursor: url('./assets/cursorlight.png'), auto; 
}

.star-wars {
    position: relative;
    overflow: hidden;
    height: 100vh; 
    background: black; 
  
    .fade {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      z-index: 10;
    }
  
    .crawl {
      position: absolute;
      top: 100%; 
      width: 100%;
      animation: crawl 60s linear forwards; 
  
      .title {
        font-size: 90%;
        text-align: center;
        color: #FFD700; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  
        h1 {
          margin: 0 0 100px;
          text-transform: uppercase;
          color: #FFD700; 
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
      }
  
      p {
        color: #ffffff; 
        font-size: 1.5rem; 
        margin-bottom: 20px; 
        text-align: center; 
      }
  
      .opening-crawl {
        margin-top: 20px; 
        color: #ffffff; 
        font-size: 1.2rem; 
        line-height: 1.5; 
      }
    }
  
    @keyframes crawl {
      0% {
        top: 100%; 
        transform: rotateX(20deg);
      }
      100% {
        top: -6000px; 
        transform: rotateX(25deg);
      }
    }
  }
  
  // Landing.scss
// body, html, #app {
//     margin: 0;
//     width: 100%;
//     height: 100%;
//   }
  
//   #app {
//     overflow: hidden;
//     touch-action: pan-up;
//     color: #ffffff;
//     font-family: 'Montserrat', sans-serif;
//     text-align: center;
//     text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
//     position: relative; // Ensure relative positioning for neon cursor
//   }
  
//   #app h1 {
//     --fontSize: 60px;
//     --lineHeight: 80px;
//     width: auto;
//     height: calc(2 * var(--lineHeight));
//     line-height: var(--lineHeight);
//     margin: calc(50vh - var(--lineHeight)) auto 0;
//     font-size: var(--fontSize);
//     text-transform: uppercase;
//   }
  
//   #app a {
//     margin-top: 10px;
//     display: inline-block;
//     text-decoration: none;
//     color: #fff;
//   }
  
//   #app canvas {
//     display: block;
//     position: fixed;
//     z-index: -1;
//     top: 0;
//   }
  
  