:root {
    --color: blue;
  }
  
  $font-family: 'Star Jedi', sans-serif; // Use a Star Wars-like font

  body {
    margin: 10px 0 40px;
    font-family: $font-family;
    color: #fff;
    background: #000 url(https://assets.codepen.io/406785/stars.png) repeat top center;
  }
  
  img {
    display: block;
    width: 170px;
    margin: 10px 20px 0;
  }
  
  #lightsaber {
    width: 100px;
    margin-left: 60%;
    margin-bottom: 50px;
    transform: rotate(180deg);
  }
  
  #lightsaber div {
    margin: auto;
  }
  
  .h1 {
    background-image: linear-gradient(90deg, #111 2%, #222 45%, #444 65%, #333 70%, #111 98%);
    box-shadow: 2px 2px 3px black inset;
    width: 27px;
    height: 6px;
    border-radius: 15px/8px;
  }
  
  .h2 {
    background-image: linear-gradient(90deg, #000 2%, #aaa 35%, #aaa 65%, #ccc 67%, #fff 70%, #000 98%);
    width: 27px;
    height: 40px;
  }
  
  .h3 {
    background-image: linear-gradient(90deg, #000 2%, #222 35%, #222 65%, #333 67%, #444 70%, #000 98%);
    width: 30px;
    height: 20px;
    border-radius: 3px;
  }
  
  .light-container {
    position: relative;
    width: 12px;
    height: 325px;
  }
  
  .light {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0 0 15px 15px / 0 0 20px 20px;
  }
  
  .light2 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 190px var(--color), 0 0 190px var(--color), 0 0 120px var(--color),
      0 0 230px var(--color), 0 0 140px var(--color), 0 0 140px var(--color), 0 0 140px var(--color),
      0 0 150px var(--color);
    border-radius: 0 0 15px 15px / 0 0 20px 20px;
    animation: light 0.1s infinite;
    -webkit-animation: light 0.1s infinite;
  }
  
  @-webkit-keyframes light {
    0% {
      opacity: 1;
    }
    5% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  
  #button {
    position: absolute;
  }
  
  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 40px;
    height: 30px;
    margin-top: 0;
    margin-right: 5px;
    display: inline-block;
  }
  
  label {
    color: white;
    font-family: Quicksand, sans-serif;
    font-size: 15px;
  }
  
  .color {
    display: block;
    width: 40px;
    height: 30px;
    border: 5px #eee solid;
    border-radius: 3px;
    margin: 5px 35px;
    cursor: pointer;
  }
  
  button:hover {
    border: 5px #d3d3d3 solid;
  }
  
  #blue {
    background-color: blue;
  }
  
  #red {
    background-color: red;
  }
  
  #green {
    background-color: #00a200;
  }
  
  #yellow {
    background-color: yellow;
  }
  
  #purple {
    background-color: #a706ec;
  }
  