$navbar-bg-color: rgba(26, 26, 26, 0.8);;
$navbar-text-color: #FFD700;
$link-color: #ffffff;
$link-hover-color: #FFA500;

.navbar {
  background-color: $navbar-bg-color;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Star Jedi', sans-serif;

    .navbar-logo {
      font-size: 2rem;
      font-weight: bold;
      color: $navbar-text-color;
      text-decoration: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      margin-left: 5%;
      
      img {
        height: auto;
        width: 40px;
        margin: 0;
    }
}

    .navbar-links {
      display: flex;
      a {
        margin-right: 1.5rem;
        color: $link-color;
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
          color: $link-hover-color;
          text-decoration: underline;
        }
      }
    }

    .navbar-auth {
      display: flex;
      align-items: center;

      .auth-link {
        color: #ffffff;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 1rem;
        transition: color 0.3s;

        &:hover {
          color: #FFD700;
        }
      }
    }

    .navbar-toggle { 
        display: none;
    }

    // Hide navbar links on smaller screens
    @media (max-width: 768px) {
      .navbar-links {
        display: none;
      }

      // Add a hamburger menu
      .navbar-toggle {
        display: block;
        font-size: 2rem;
        color: $navbar-text-color;
        cursor: pointer;
      }

      // Display the links when toggle is active
      .navbar-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: $navbar-bg-color;
        width: 100%;
        padding: 1rem;
        
        a {
          margin: 1rem 0;
        }
      }
    }
  }
}
